@{
    ViewBag.Title = "AnswerForm";
}

<h2>AnswerForm</h2>
<!doctype html>
<html ng-app="formApp">
<head>
    <title>Formulaires</title>
    <meta charset="utf-8" />
    <!-- LOAD BOOTSTRAP CSS -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">

    <!-- LOAD JQUERY -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <!-- LOAD ANGULAR -->
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular.min.js"></script>

    <!-- PROCESS FORM WITH AJAX (NEW) -->
    <script src="~/js/controller/form.js"></script>
</head>
<!-- apply the module and controller to our body so angular is applied to that -->
<body ng-controller="formController">
    <div class="container">
        <header class="row col-sm-12">
            <div class="page-header">
                <h1>MagiicForm<!-- <img src="images/formIcon.jpeg" class="pull-right"> --></h1><small> Le site qui créer le monde</small>
            </div>
        </header>
        <div class="row col-sm-12">
            <nav class="col-sm-2">
                <ul class="nav nav-pills nav-stacked">
                    <li class="active"> <a href="/WelcomeUser/Welcome"> <span class="glyphicon glyphicon-home"></span> Accueil </a> </li>
                    <li class="#"> <a href="/Formulaire/List"> <span class="glyphicon glyphicon-home"></span> Formulaires </a> </li>
                    <li class="#"> <a href="/AnswerForm/ListForm"> <span class="glyphicon glyphicon-home"></span> Répondre </a> </li>
                    <li class="#"> <a href="/ProfilUser/Profil"> <span class="glyphicon glyphicon-home"></span> Profil </a> </li>
                    <li class="#"> <a href="/Login/LogOut"> <span class="glyphicon glyphicon-home"></span> Déconnexion </a> </li>
                    <li> <a href="#"> <span class="glyphicon glyphicon-envelope"></span> Contact </a> </li>
                </ul>
            </nav>
            <div class="row col-sm-10">
                <div class="panel panel-default">
                    <form action="/AnswerForm/AddAnswerForm" method="post">
                        <!-- Default panel contents -->

                        @{
                            var form = (FormEsgi.Models.Form)ViewData["form"];
                            var questions = (List<FormEsgi.Models.Question>)ViewData["questions"];
                            var fixedAnswers = (List<FormEsgi.Models.FixedAnswer>)ViewData["fixedAnswers"];
                        }

                        <h4>@form.title</h4><span>@form.date_creation</span>
                        <article>@form.description</article>
                       @{
                            int countQuestion = 1;
                            foreach (var question in questions)
                            {
                                int countResponse = 1;
                                <h4>Question @countQuestion : @question.question</h4>

                                // Selon le type de la question, afficher les réponses
                                
                                // Radio Button
                                if (question.TypeQuestionId == 4)
                                {
                                    foreach (var fixedAnswer in fixedAnswers)
                                    {
                                        if (fixedAnswer.QuestionId == question.QuestionId)
                                        {
                                            <label for="@fixedAnswer.FixedAnswerId">Réponse @fixedAnswer.fixed_answer</label>
                                            <input id="@fixedAnswer.FixedAnswerId" type="radio" name="@question.QuestionId" value="@fixedAnswer.fixed_answer" />
                                        }
                                        countResponse++;
                                    }
                                }
                                
                                // Liste déroulante
                                if (question.TypeQuestionId == 5)
                                {
                                    foreach (var fixedAnswer in fixedAnswers)
                                    {
                                        if (fixedAnswer.QuestionId == question.QuestionId)
                                        {
                                            <label for="@fixedAnswer.FixedAnswerId">Réponse @fixedAnswer.fixed_answer</label>
                                            <select>
                                                <option value="@fixedAnswer.fixed_answer">@fixedAnswer.fixed_answer</option>
                                            </select>
                                        }
                                        countResponse++;
                                    }
                                }
                                
                                // Case à Cocher
                                if (question.TypeQuestionId == 6)
                                {
                                    foreach (var fixedAnswer in fixedAnswers)
                                    {
                                        if (fixedAnswer.QuestionId == question.QuestionId)
                                        {
                                            <label for="@fixedAnswer.FixedAnswerId">Réponse @fixedAnswer.fixed_answer</label>
                                            <input id="@fixedAnswer.FixedAnswerId" type="checkbox" name="@question.QuestionId" value="@fixedAnswer.fixed_answer" />
                                        }
                                        countResponse++;
                                    }
                                }

                                countQuestion++;
                            }
}

                        <input type="hidden" name="formID" value="@form.FormId">
                        <!-- SUBMIT BUTTON -->
                        <button type="submit" class="btn btn-success btn-lg btn-block">
                            <span class="glyphicon glyphicon-flash"></span> Envoyer !
                        </button>

                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>



